<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
        <!-- Slide bar -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- leftBar -->
                    <div class="col-md-10 col-12 leftBarAbout">
                        <figure class="errimage">
                            <img src="images/404.jpg" alt="">
                        </figure>
                        
                
                    </div>
            
                    <!-- rightBar -->

                    <div class="col-md-2 col-12 leftBar">

                        <div class="btndemo">
                            <a href="/"><button>Go BacK</button></a>                       
                        </div>                         
                
                    </div>                    
               
                </div>            
            </div>
        </div>
    </div>
</body>
</html>