<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}

</head>
<body>
    {{>navbar}}

    <!-- Slide bar -->
    <div class="containter-fluid main_headerAbout">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- leftBar -->
                    <div class="col-md-6 col-12 leftBarAbout">
                        <img src="images/whallpapper.jpg" alt="">
                        
                
                    </div>
            
                    <!-- rightBar -->
                    <div class="col-md-6 col-12 rightBarAbout">
                        <p style="color: rgb(238, 10, 86);">Hi!!! My Name is Bhim Charan Bhakta</p>
                        <h1>I am a<span class="spandemo">MERN STACK</span> Web Devloper</h1>
                        
                        <div class="btndemo">
                            <a href="#"><button>Check Now</button></a>
                        </div>
                    </div>                
                </div>            
            </div>
        </div>
    </div>


    <!-- Fotter -->

  {{>footer}}



</body>
</html>