    <!--Nav Bar start-->
    <div class="navbar">
        <div class="navLogo col-2">
            <img src="images/logo.png" alt="logo">
        </div>
            
        <div class="navHeading col-5">
            <h2>Weather Application</h2>
        </div>

        <div class="navMenu col-5">
            <a href="/">Home</a>
            <a href="/weather">Weather</a>
          
            <a href="/about">About</a>
        </div>
    </div>
    <!--Nav Bar End-->